{erl_opts, [{parse_transform, lager_transform}]}.
{lib_dirs,["deps"]}.

{sub_dirs, [
    "rel",
    "tests"
]}.

{deps, [
    {'lager', ".*", {
        git, "git://github.com/basho/lager.git", "master"}
    },
    {'meck', ".*", {
        git, "git://github.com/eproxus/meck.git", "master"}
    },
    {'hamcrest', ".*", {
        git, "git://github.com/hyperthunk/hamcrest-erlang.git", "master"}
    }
]}.
